@CHARSET "utf-8";

/* common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, select, button {margin:0;padding:0}
body,input,textarea,select,table,button{font: 11px Arial, Helvetica, sans-serif;line-height:16px}
										
img, fieldset {border:0}
hr {display:none}
li {list-style:none}
em, address {font-style:normal}
a, a:visited:hover {text-decoration:none}
a:active, a:focus {text-decoration:underline}
.blind {position:absolute; top:0; left:0; width:1px; height:1px; overflow:hidden; visibility:hidden; font-size:0; line-height:0}


/* Header */
.inner { width: 965px; margin: 0 auto; position: relative }
.home-page .header { width: 938px }
.home-page .top-menu .top-bar { left: -16px; right: -16px }
.home-page .top-menu .top-bar-left { left: -21px }
.home-page .top-menu .top-bar-right { right: -21px }

.home-page .billboard {
	height: 445px
}


.top-menu { position: relative;	width: 100%; height: 59px; margin: 0 auto }
.top-menu .top-bar,.top-menu .top-bar-right,.top-menu .top-bar-left { position: absolute; width: 5px; height: 5px }
.top-menu .top-bar-left { left: -7px; background: url(../images/top_bg_left.png) no-repeat }
.top-menu .top-bar-right { right: -8px; background: url(../images/top_bg_right.png) right no-repeat }
.top-menu .top-bar { left: -3px; right: -4px; width: auto; background: 	url(../images/top_bg_bar.png) repeat-x }
.top-menu .arrow-container { position: absolute; overflow: hidden; top: 3px; width: 20px; height: 16px }
.top-menu .arrow { width: 20px; height: 16px; position: absolute; top: -16px; background: url(../images/arrow.png) }
.top-menu .message { position: absolute; left: 0; bottom: 7px; font-size: 12px; color: #333 }
.top-menu .menu { position: absolute; right: 1px; bottom: 0 }
.top-menu .item { float: left; position: relative; padding-right: 36px; margin-right: 55px; text-transform: uppercase; height: 26px; line-height: 26px }
.top-menu .item .arrow-container { position: absolute; top: -31px; right: 3px; overflow: hidden; width: 20px; height: 16px }
.top-menu .item .arrow { position: absolute; top: -16px; width: 20px; height: 16px; background: url(../images/arrow.png) }
.top-menu .item:hover  .arrow { top: 0 }
.top-menu .item.support { background: url(../images/icon_support.png) right no-repeat }
.top-menu .item.support:hover { background: url(../images/icon_support-active.png) right no-repeat }
.top-menu .item.signin { background: url(../images/icon_signin.png) right no-repeat }

.main-menu { position: relative; height: 84px; margin-top: 40px }
.main-menu .logo { position: absolute; left: 0; top: 0; bottom: 0; margin: auto 0; width: 200px; height: 80px }
.main-menu .menu { position: absolute; left: 240px; top: 0; bottom: 0; margin: auto 0; height: 34px; text-transform: uppercase;}
.main-menu .item { float: left; padding: 5px 0; font-size: 20px; color: #2b3220; text-align: center; position: relative }
.main-menu .item:hover { color: #008AC6; }
.main-menu .item1, .main-menu .item2, .main-menu .item3, .main-menu .item4, .main-menu .item5 { width: 135px; }

.last { margin-right: 0 !important }
.futura { font-family: candara }

/* UI Object */
#footer{clear:both;margin:0;padding:22px 0 30px;border-top:1px solid #dedede;text-align:center}
#footer ul,#footer li,#footer a,#footer strong,#footer img,#footer em,#footer address,#footer span{margin:0;padding:0;color:#333;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;font-size:12px;line-height:normal;list-style:none;font-style:normal}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 10px}
#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(../images/bu_bar.gif) 0 50% no-repeat;_background-position:left 10%;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}
#footer ul li.frst{padding:0 3px 0 0;background:none}
#footer .info{margin:0 0 11px;color:#7e7e7e;font-size:11px;line-height:15px}
#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}
#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(../images/bu_bar.gif) 1px 50% no-repeat;_background-position:left 10%;font-size:11px;line-height:18px}
#footer address{font-family:Verdana;font-size:9px;line-height:14px}
#footer address img{vertical-align:middle}
#footer address a{color:#444;font-family:Tahoma;font-size:9px;font-weight:bold}
#footer address a:hover{color:#009bc8}
#footer address span{padding-left:2px;font-family:Verdana;font-size:9px;line-height:14px}
#footer address em{padding-left:6px;font-family:Verdana;font-size:9px}
#footer address .logo{display:inline-block;*display:inline;vertical-align:top;*vertical-align:baseline}
#footer address .logo_v1{position:relative;top:-2px}
/* //UI Object */